#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.ichiban-kuji__main-container {
  width: 100%;
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ichiban-kuji__main-title {
  margin: 0;
}

.ichiban-kuji__language-button {
  border: white solid 3px;
  border-radius: 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-bottom: 20px;
  align-self: center;
  cursor: pointer;
  overflow: hidden;
}

.ichiban-kuji__traditional-chinese-button, .ichiban-kuji__english-button {
  padding: 10px;
  width: 90px;
  transition: 0.3s;
}

.ichiban-kuji__english-button {
  border-left: white solid 3px;
}

.ichiban-kuji__traditional-chinese-button:hover {
  background-color: #00338a;
}

.ichiban-kuji__english-button:hover {
  background-color: #09793f;
}

.ichiban-kuji__enter-button {
  border: white solid 3px;
  border-radius: 15px;
  width: fit-content;
  font-size: 35px;
  padding: 15px;
  margin-top: 35px;
  align-self: center;
  cursor: pointer;
}
